{
  "presets": ["react"],
  "plugins": [
    "transform-object-rest-spread",
    "async-to-promises",
    ["transform-react-jsx", { "pragma": "h" }],
    "transform-decorators-legacy",
    "transform-es2015-modules-commonjs"
  ]
}
